* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    background-size: 100% 100%;
}

body{
    background-color: black !important;   /*find a way to do this without using important*/
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
}

.logo {
    font-size: 2em;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: black;
}

/* waving hand */

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

ul {
    list-style-type: none;
}

.skip a{
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
    background: black;
    color: black;
  }

h1, h2 {    /* spacing for main header texts */
    font-weight: 300px;
    line-height: 1.2;
    margin: 10px 0;
    color: white;
}

ul li {
    padding: 5px;
    font-size: 1em;
    padding-left: 5%;
}

.navbar{
    height: 70px;
    color: white;
    position:
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
}

.navbar a{
    color: white;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar .container-flex .logo {
    padding-left: 9%;   
    padding-top: 7%;}
    

/* Makes sure to show what page im on for navigation*/
.navbar .container-flex #active{ 
    text-decoration: underline 2px;
    color: orange;
    text-transform: uppercase;
}  

.main-text h1{ /*main text in the middle of the page */
    font-size: 3em;
    padding-left: 8%;
    padding-top: 35%;
    color: white;
    font-weight: bold;
}

.main-text p{
    color: white;
    font-size: 1em;
    text-align: left;
    padding-left: 8%;
}

.main-text h2{ /*fingerpointing alignment*/
    font-size: 2.2em;
    text-align: center;
}

.navbar .container-flex {
    background-color: black;
}

footer {
    text-align: center;
}
footer p{
    background-color: black;
    color: white;
}

/* Home screen snapscroll*/

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.wontainer{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100wh;
}

.one {
    background: white;
    background: rgb(255,228,240);
    background: linear-gradient(99deg, rgba(255,228,240,1) 30%, rgba(201,148,233,1) 95%);
}

.two {
    background: rgb(128,228,61);
    background: linear-gradient(222deg, rgba(128,228,61,1) 24%, rgba(230,241,157,1) 58%, rgba(255,242,174,1) 72%);
}

/*change this for each screen size*/
.one img{
    width: 100vh;
    padding-left: 3%;
    padding-top: 30%;
    padding-right: 5%;
}
.two img{
   width: 85vw;
   padding-top: 10%;
   padding-left: 12%;
}

/* .scrolltext { 
    display: grid;
    grid-template-rows: 1fr 1fr;
} */
.scrolltext p{
    font-size: 1em;
    padding-left: 10%;
    /* padding-right: 3%; */
    width: 90%;
    padding-top: 15%;
    /* padding-top: 36%; */
    /* padding-left: 15%; */
    /* text-align: */
}

.scrolltext2 p{
    font-size: 1em;
    padding-left: 10%;
    /* padding-right: 3%; */
    width: 90%;
    padding-top: 25%;
    /* padding-top: 36%; */
    /* padding-left: 15%; */
    /* text-align: */
}

.title-text {
    font-size: 1.5em;
    font-weight: bold;
}

/* PROGRESS BAR */
.progress-container {
    width: 100%;
    height: 3.5px;
    background:white;
    position: fixed;
    top: 0%;
  }
  
  .progress-bar {
    height: 3.5px;
    background:red;
    width: 0%;
  }

/* UI/UX PAGE (GRID) *************************************************************************/

.body-text {
    text-align: left;
    width: 90%;
    padding-left: 10%;
    color:white;
    padding-bottom: 10%;
}
.image-galleryone {
    display: grid;
    padding-bottom: 10%;
    padding-top: 30%;
}
.image-gallerytwo {
    display: grid;
    padding-bottom: 10%;
}
.body-text h2{ /*this changes the project title name */
    font-size: 2em;
    font-weight: bold; 
}

/* DESIGN PAGE *************************************************************************************/

.container .image-gallery { 
    padding-top: 9%;
    padding-right: 5%;
    width: 2000px;
    padding: 5%;
}

.image-gallery p{
    padding-top: 5%;
    padding-bottom: 20%;
    padding-right: 5%;
    color: white;
    padding-left: 5%;
} 

 .image-gallery .special-text {  /*making the titles of the song names bigger w/o messing up the formatting */
    font-size: 2em;
    font-weight: bold;
    line-height: normal;
}

/* ABOUT PAGE **************************************************************************************/

.about-me img {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20%;
}
.about-me p{
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 13%;
}

/*CONTACT PAGE**************************************************************************************/

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
  
  #message {
      padding-bottom: 100px;}
      
  input[type=submit] {
    width: 40%;
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #E88404;
  }
  
  .form {
    padding: 8%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1.5em;
  }


  /*dgital art parllax page */

  
  .parallaxscroll section {
    /* height: 100%; */
    background-size: 100vw; /* cut this*/
    /* height: 60vh; cut this */
    width: 100%;
    background-attachment: fixed;
    /* background-size: 100vw; */
    background-size: cover;
    /* display: flex; */
  }

  
  .parallaxscroll section h1 {
    color: transparent;
  }
.parallaxscroll section:first-of-type {
  background-image:   url(artwork1.jpg);
}
.parallaxscroll section:nth-of-type(2) {
  background-image: url(artwork2.jpg);
}
.parallaxscroll section:last-of-type {
  background-image: url(artwork3.jpg);
}

@media screen and (min-width: 750px){ /*tablet tablet viewtablet viewtablet viewtablet viewtablet viewtablet viewtablet viewtablet view*/
    .logo {
        font-size: 4.25em;
        /* padding-left: 8%; */
        /* padding-top: 5%; */
        /* padding-bottom: 3%; xtra*/
    }
    
    .navbar a{
        font-size: 2em;
    }
    .navbar ul{
        padding-left: 2%;
    }

    /* MAKING MAIN PAGE TEXT BIGGER */
    .main-text h1{
        font-size: 5em;
        /* padding-left: 8%; */
        padding-top: 23%;
        /* color: white;
        font-weight: bold; */
    }

    .main-text p{
        /* color: white; */
        font-size: 1.75em;
        text-align: left;
        /* padding-left: 8%; */
        padding-bottom: 0%;
    }

    .main-text h2{ /*fingerpointing */
        font-size: 3.5em;
        /* text-align: center; */
    }    

/* Home sceen scroll adjusting size */

.one img{
    width: 70vh;
    padding-left: 5%;
    padding-top: 10%;
}
.two img{
   /* height: 90vh; */
   padding-top: 0%;
   padding-top: 8%;
   padding-left:27%;
   /* width: 70vw; */
   width: 75%;
   padding-bottom: 10%;
}

/* .scrolltext {
    grid-template-rows: 1fr 1fr;
} */
.scrolltext p{
    font-size: 1.35em;
    /* padding-top: 36%; */
    padding-left: 15%;
    padding-top: 0%;
}

.scrolltext2 p{
    font-size: 1.35em;
    padding-left: 10%;
    /* padding-right: 3%; */
    width: 90%;
    padding-top: 10%;
    /* padding-top: 36%; */
    /* padding-left: 15%; */
    /* text-align: */
}

.title-text {
    font-size: 1.5em;
    font-weight: bold;
}

/*UI/UX PAGE**************************************************************************************/
    .image-galleryone {
        /* display: grid; */
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        padding-right: 3%;
        padding-left: 3%;
        padding-bottom:5%; 
        padding-top: 20%;
    }

    .image-gallerytwo {
        /* display: grid; */
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        justify-content: center;
        padding-bottom: 5%; /*changing from 25 from the mobile to 5% */
        padding-right: 3%;
        padding-left: 3%; /*why isnt this workinig*/
    }

    .body-text { /*project descriptions*/
    /* color: white; */
    font-size: 1.8em;
    width: 95%;
    padding-left: 7%;
    /* padding-bottom: 10%; */
    }

    /*CONTACT PAGE **************************************************************************************/

    /* input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: white;
      } */
      
      /* #message {
          padding-bottom: 100px;}
           */
      input[type=submit] {
        width: 30%;
        /* background-color: orange;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 50px;
        cursor: pointer; */
      }
      
      /* input[type=submit]:hover {
        background-color: #E88404;
      } */
      
      .form {
        padding: 8%;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 1.5em;
      }

      /* DESIGN PAGE ***************************************************************************************/

 .image-gallery {
        display: grid;
        grid-template-columns: auto auto;
        /* grid-template-rows:  auto auto; */
        /* justify-content: center; */
        padding-bottom: 5%; /*changing from 25 from the mobile to 5% */
        padding-right: 3%;
        padding-left: 7%;
    } 

    /* .container ? */
    .image-gallery p{
        /* padding-top: 5%;
        padding-bottom: 10%;
        padding-right: 5%;
        color: white; */
        padding-left: 10%;
        font-size: 1.5em;
    } 
  
    /*ABOUT ME PAGE *************************************************************************************/


.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.about-me p{
    /* color: white; */
    padding-top: 9%;
    /* padding-left: 5%; */
    padding-right: 10%;
    font-size: 1.7em;
}
/* DIGITALARTSCREEN*/

html,
body {
  /* height: 100%; */
}
.parallaxscroll section {
  /* height: 0%; */
  background-size: 100%;
  background-attachment: fixed;
  background-size: 100% auto;
  /* background-size: cover; */
  display: flex;
}
.parallaxscroll section h1 {
  color: transparent;
  /* font-size: 15em;
  text-align: center; */
}
.parallaxscroll section:first-of-type {
  background-image:   url(artwork1.jpg);
}
.parallaxscroll section:nth-of-type(2) {
  background-image: url(artwork2.jpg);
}
.parallaxscroll section:last-of-type {
  background-image: url(artwork3.jpg);
}

@media screen and (min-width: 1025px){ /*widescreenview  widescreenview  widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview  */

    .navbar .container-flex ul {
        width: 50%;
        padding-left: 3%;
    }    /* movees the entire nav bar to align w the logo*/


    .navbar .container-flex ul li {
    padding: 0%;
} /*adjusts individual elements in the navbar's spacing from each other */

    
    .logo {
        font-size: 2.25em;
        padding-left: 4%;
        padding-top: 2.5%;
        padding-bottom: 3%;
    }
    
    .navbar a{
        font-size: 1em;
    }
    /* .navbar ul{
        padding-left: 2%;
    } */

        /* MAKING MAIN PAGE TEXT BIGGER */
    .main-text h1{
        font-size: 3.5em;
        padding-left: 1%;
        padding-top: 5%;
        color: white;
        font-weight: bold;
    }

    .main-text p{
        color: white;
        font-size: 1.5em;
        text-align: left;
        padding-left: 1%;
    }

    .main-text h2{ /*fingerpointing */
        font-size: 3.5em;
        text-align: center;
    }    

/* HOME PAGE PARALLAX RESIZING */

.one img{
    width: 100vh;
    padding-left: 5%;
    padding-top: 10%;
}
.two img{
   height: 95vh;
   padding-top: 10%;
   padding-left: 15%;
}


.scrolltext {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scrolltext2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.scrolltext  p{
    font-size: 1.5em;
    padding-top: 36%;
    padding-left: 15%;
}

.scrolltext2 p{
    font-size: 1.5em;
    padding-top: 36%;
    padding-left: 15%;
}


.title-text {
    font-size: 1.5em;
    font-weight: bold;
}

/*CONTACT PAGE **************************************************************************************/

/* Changing format so it's side by side*/
    .main-text {
        padding-left: 7%;
    }

    #mainsection {
            display: grid;
            grid-template-columns: 1fr 1fr;
}


/*ABOUT ME PAGE *************************************************************************************/

/*side by side*/
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me img{
    width: 80%;
    margin-top: -35%;
    padding-left: 12%;
}

.about-me p{
    color: white;
    padding-top: 9%;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 1.5em;
}

/*FLIP CARD*/

.flip-card {  /* this is the actual image height*/
    background-color: transparent;
    width: 400px;
    height: 300px;
    border: 1px solid #f1f1f1;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {  /* this is the actual image width*/
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: orange;
    color: white;
    transform: rotateY(180deg);
  }


/*UI/UX PAGE**************************************************************************************/
.image-galleryone {
    /* display: grid; */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom:5%; 
    padding-top: 20%;
}

.image-gallerytwo {
    /* display: grid; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    padding-bottom: 5%; /*changing from 25 from the mobile to 5% */
    padding-right: 3%;
    padding-left: 3%; /*why isnt this workinig*/
}

.body-text { /*project descriptions*/
color: white;
font-size: 1.8em;
width: 95%;
padding-left: 7%;
padding-bottom: 10%;
}

 /* DESIGN PAGE ***************************************************************************************/

      .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows:  auto auto; */
        /* justify-content: center; */
        padding-bottom: 5%; /*changing from 25 from the mobile to 5% */
        /* padding-right: 3%; */
        padding-left: 7%;
    } 

    /* .container ? */
    .image-gallery p{
        padding-top: 5%;
        padding-bottom: 10%;
        padding-right: 30%;
        color: white;
        padding-left: 0%;
        font-size: 1.5em;
        /* width: 40%; */
    } 
  
    .image-gallery img{
        height: 95%;
        padding-left: 15%;
        padding-bottom: 10%;
        padding-right: 5%;
    }






/*UI/UX PAGE**************************************************************************************/



/* DIGITAL ART PAGE PARALLAX IMAGES **************************************************************/

.parallaxscroll section {
    /* height: 0%; */
    background-size: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
  }
  .parallaxscroll section h1 {
    margin: auto;
    color: white;
    font-size: 7em;
    text-align: right;
    padding-left: 40%;
    font-weight: bold;
  }

  .parallaxscroll img {
      height: 30%;
      /* padding-top: 10%; */ 
  }

  .parallaxscroll .special {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .parallaxscroll section:first-of-type {
    background-image:   url(artwork1.jpg);
    /* background-color: rgb(63,94,251);
    background: linear-gradient(71deg, rgba(63,94,251,1) 1%, rgba(237,125,230,1) 41%, rgba(255,239,242,1) 100%); */

    background-color: purple;

  }
  .parallaxscroll section:nth-of-type(2) {
    background-image: url(artwork2.jpg); 
    background-color: blue; z-index: 1; 
  }
  .parallaxscroll section:last-of-type {
    background-image: url(artwork3.jpg);
    background-color: linear-gradient(#e66465, #9198e5);  }